<div class="videos clearfix">
  <% videos.each_with_index do |v, idx| %>
    <% if idx != 0 && idx % 5 == 0 -%>
    <div class="row"></div>
    <% end -%>

    <div class="video">
      <div class="thumbnail">
        <%= link_to image_tag(v.screenshot.url(:thumb)), show_video_path(v) if v.screenshot.exists? %>
        <%= link_to image_tag('themes/vidli/videos/screenshot-missing.png'), show_video_path(v) if !v.screenshot.exists? %>
      </div>
      <%= link_to v.title, show_video_path(v), :class => 'title' %>
    </div>
  <% end -%>
</div>
<%= paginate videos %>
