<h3>Order History</h3>
<table>
  <thead>
    <tr>
      <th>Order Date</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
<% current_user.orders.each do |o| -%>
    <tr>
      <td><%= link_to o.created_at, order_path(o.uuid) %></td>
      <td><%= number_to_currency o.total %></td>
    </tr>
<% end -%>
  </tbody>
</table>
