<div class="user_roles">
  <h2>Roles</h2>
	<% form_tag update_roles_admin_user_path(@user.id) do |a| -%>
    <% Role.all.each do |r| -%>
    <div class="field">
      <%= check_box :roles, r.id, :checked => @user.roles.find_by_id(r.id) ? true : false %> 
      <label for="roles_<%= r.id %>"><%= r.title %></label>
    </div>
  	<% end -%> 
  	<div class="buttons clearfix">
  	  <button type="submit" class="positive">
  	    <%= image_tag 'themes/vidli/icons/check.png' %>
        Save Roles
      </button>
    </div>
	<% end -%> 
</div>