<h1>Users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Orders</th>
  </tr>
<% @users.each do |u| %>
  <tr>
    <td><%= link_to u.email, [:admin, u] %></td>
    <td><%= u.full_name %></td>
    <td><%= u.orders.count %></td>
  </tr>
<% end %>
</table>