<h1>User Details</h1>
<p>Name: <%= @user.full_name %></p>
<p>Email: <%= @user.email %></p>
<%= render :partial => 'roles' %>
<%= render :partial => 'admin/orders/order_list', :locals => { :user => @user } %>
