<h2>Forgot Password</h2>
<p>Please enter the email address you used to register.</p>

<%= form_for @user_session, :as => :user_session, :url => forgot_password_url do |f| %>
  <div class="field field_text">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field buttons">
    <button type="submit" class="positive">
      <%= image_tag 'themes/vidli/icons/check.png' %>
      Send Password Reset Link
    </button>
  </div>
<% end %>